.Navbarone{
    background-color: #7C20BE;
    width: auto;
}
.Linkone{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    margin-right: 30px;
}
.login{
text-decoration: none;
color: white;
background-color:  #7C20BE;
width: 13rem;
margin: 0 auto;
padding: 25px;
border-radius: 10px;
margin-bottom: 10px;
border: 1px solid white;
}
.started{
text-decoration: none;
color: #7C20BE;
background-color: white;
width: 13rem;
margin: 0 auto;
padding: 25px;
border-radius: 10px;

}
.col {
   border: none;
}