.main h1{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    margin: 0 auto;
    color: #292929;
    padding-bottom: 20px;
   padding-top: 40px;
}
main p{
    font-size: 18px;
    line-height: 24px;
    line-height: 114%;
    margin: 0 auto;
    color: #292929;
    
}
.createFree{
    display: flex;
    justify-content: space-around;
}
.create{
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-top: 100px;
}
.buySell h1{
    line-height: 38px;
    line-height: 100%;
    font-size: 32px;
    font-style: bold;
}
.free{
    margin-left: 10px;
}
.free h5{
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    line-height: 100%;
    margin-bottom: 20px;
}
.free p{
    font-size: 16px;
    line-height: 24px;
    line-height: 128%;
    font-style: normal;
}
.Helloone img{
    width: 100%;
}
.middle img{
    width: 100%;
}
.buy img{
    width: 100%;
}
@media(max-width: 661px){
.main h1{
    font-size: 25px;
    
}
}