    .section1{
        background-color: #7C1FBF;
        /* background-image: url('../Images/Group\ 127.png'); */
        line-height: 40px;
        text-align: start;
        height: 670px;
        
    }
    .circleBack{
        height: 700px;
        width: 100%;
        background-image: url('../Images/Group\ 127.png');
        background-position: top 5px left 420px;
        background-repeat: no-repeat;
        margin-left: auto;
    }

    .buySell{
        color: white;
        margin-left: 98px;
    }
    .buySell h2{
        font-size: 45px;
        font-weight: 700;
        font-style: normal;
        margin: 0 auto;
        padding-top: 30px;
    }

    .easilyTrade{
        margin: 0 auto;
        color: white;
        margin-left: 100px;
    }
    .Get1 {
        width: 10rem;
    border-radius: 5px;
    border: 1px solid;
    background-color: white;
    color: #7C1FBF;
    margin-left: 100px;
    text-decoration: none;
    padding: 13px;
    padding-left: 7rem;
    padding-right: 7rem;
    } 

    .stores{
        display: flex;
        margin-left: 100px; 
        margin-top: 30px;
    }
    .span1{
        margin-right: 10px;
    }
    .span1 img{
        width: 80%;
    }
    .span2 img{
        width: 80%;
    }
    @media(max-width: 661px){
        .circleBack{
            height:100%;
            width: 100%;
            background-image: url('../Images/Group\ 127.png');
            background-position: top 5px left 250px;
        }
        .section1{
            background-color: #7C1FBF;
            height: 100%;
            
        }
        .stores{
            margin: 0 auto;
            margin-top: 30px;
            margin-left: 50px;
            padding-bottom: 100px;
            
        }
        .buySell h2{
            font-size: 1.5rem;
            font-weight: 700;
            font-style: normal;
            margin-left: 50px;
        }
        .buySell{
            margin: 0 auto;
            color: white;
            padding-top: 40px;
    
        }
        .easilyTrade{
            margin-left: 0px;
            color: white;
            margin-left: 50px;

        }
        .Get1{
           margin-left: 50px;
        }
        .span1 img{
            width: 80%;
        }
        .span2 img{
            width: 80%;
        }
        .Get1{

            padding-left: 6.8rem;
            padding-right: 6.8rem;

        }
        .Bot{
            margin-top: 20px;
        }
        
    }